* {
  box-sizing: border-box;
}

body {
  background-color: #a3d1a0;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #77bb71;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-evenly;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.root {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #a3d1a0;
  justify-content: flex-end;
  padding: 1rem;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
   margin: 0;
}

.overview {
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  color: #558350;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transform: transform 0.3s ease-in-out;
}

.overview p {
  font-weight: bolder;
}

.movie:hover .overview {
  transform: translateY(0%);
}

.search {
  background-color: transparent;
  border: 2px solid #a3d1a0;
  border-radius: 50px;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bolder;
  outline: none;
  padding: 0.5rem 1.52rem;
}

.tag {
  background-color: #a3d1a0;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bolder;
}

.tag.blue {
  color: rgb(0, 60, 255);
}

.tag.orange {
  color: rgb(250, 100, 45);
}

.tag.red {
  color: rgb(250, 0, 0);
}